:root {
  --page-margin: 25px;
}

html,
body,
div#body,
div#body > section,
div#body > section > #ecmoverlay,
div#body > section > #loading,
div#body > section > div[role="main"],
div#body > section > div[role="main"] > .main {
  height: auto;
  min-height: 100vh;
  overflow: hidden;
  overflow-y: auto;
  width: 100vw;
}

div#body > section > div[role="main"] > .main {
  max-width: 1280px;
  margin: 0 auto;
  padding-bottom: 12px;
}

/* Main header (with MAin tabs an user info */
[role="main"] > .main #header > div.pull-right {
  margin-right: var(--page-margin) !important;
}

/* Blue header below main tabs, heading the main content */
div[role="main"] > .main .header,
div[role="main"] > .main .header#div_headerRow {
  margin: 0 var(--page-margin) !important;
  width: calc(100% - var(--page-margin) - var(--page-margin)) !important;
}

/* Main content */
div[role="main"] > .main .section-body {
  margin: 0 var(--page-margin) !important;
  width: calc(100% - var(--page-margin) - var(--page-margin) - 30px - 10px) !important;
}

div[role="main"] > .main .section-body.myTeamYeaSection,
div[role="main"] > .main .section-body.myTeamYeaSectionBefore,
div[role="main"] > .main .section-body.myTeamPromo {
  width: calc(100% - var(--page-margin) - var(--page-margin) - 10px) !important;
}

/* Navigation Tabs */
div[role="main"] > .main .nav {
  float: left;
  height: auto !important;
  margin-top: 12px;
  margin-bottom: 0 !important;
  padding: 0 !important;
}

div[role="main"] > .main .nav + .row.nav-container {
  clear: both;
}

div[role="main"] > .main .nav.nav-pills > li {
  display: inline-block;
  height: auto !important;
}

div[role="main"] > .main .nav.nav-pills > li > * {
  float: left;
  margin: 0 !important;
}

/* Generic tables */
div[role="main"] > .main .tab-content > .tab-pane .section_content,
div[role="main"] > .main .tab-content > #interim_check_in.tab-pane .section_content.afterPerformanceClick {
  height: auto !important;
}

div[role="main"] > .main .tab-content > .tab-pane .section_content {
  padding: 0;
}

div[role="main"] > .main .tab-content > .tab-pane .section_content > * {
  margin: 0 !important;
}


/* My Team's table */
div[role="main"] > .main .supervisor-content,
/* Notes' table */
div[role="main"] > .main .notes-categories {
  height: auto !important;
  margin: 0 var(--page-margin) !important;
  width: calc(100% - var(--page-margin) - var(--page-margin) - 30px - 10px) !important;
}

div[role="main"] > .main .myTeamYeaSection .compareReportees,
div[role="main"] > .main .supervisor-content > .tab-content > #goals-supervisor > .second-table-container {
  height: auto !important;
}

/* My Team's promotions */
div[role="main"] > .main > .main {
  height: auto !important;
  width: 100% !important;
}

/* Notes' table */
div[role="main"] > .main .tab-content {
  height: auto !important;
}

div[role="main"] > .main .tab-content > .tab-pane .section_content .slider,
div[role="main"] > .main .tab-content > .tab-pane .section_content .slider > .mCustomScrollBox,
div[role="main"] > .main .tab-content > .tab-pane .section_content .slider ul.slider-list--general {
  height: auto !important;
  width: 100% !important;
}

div[role="main"] > .main .tab-content > .tab-pane .section_content .notes-p {
  margin: 0 !important;
  padding: 12px;
  padding-bottom: 0;
}

div[role="main"] > .main .tab-content > .tab-pane .section_content .slider {
  margin: 0 auto !important;
}

div[role="main"] > .main .tab-content > .tab-pane .section_content .slider > .mCustomScrollBox > .mCSB_container {
  position: relative !important;
}

div[role="main"] > .main .tab-content > .tab-pane .section_content .slider ul.slider-list--general {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  float: none;
  padding: 6px;
}

div[role="main"] > .main .tab-content > .tab-pane .section_content .slider ul.slider-list--general > li {
  box-sizing: border-box;
  display: inline-block;
  float: none;
  padding: 6px;
  width: 25%;
}

div[role="main"] > .main .tab-content > .tab-pane .section_content .slider ul.slider-list--general > li > .section_content-component {
  display: inline-block;
  float: none;
  margin: 0;
  width: 100%;
}

/* Notification's table */
div[role="main"] > .main .section-body .notification_header,
div[role="main"] > .main .section-body .notification_thirty {
  clear: both;
  display: inline-block;
  float: none;
}

div[role="main"] > .main .section-body .notification_thirty {
  margin-left: 8px;
  margin-right: 0 !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

div[role="main"] > .main .section-body > #div_notificationList > .tab-content > .tab-pane.active > #div_notificationContainer {
  max-height: none !important;
}

/* Modals */
div[role="main"] > .modal.fade.in,
div[role="main"] > #rolegoal_content.modal.fade.in,
div[role="main"] > #addnote-deliverable.modal.fade.in {
  height: auto !important;
  max-width: 90vw !important;
  max-height: 90vh !important;
  left: 50% !important;
  margin: 0 !important;
  top: 50% !important;
  transform: translate(-50%, -50%);
  width: 100% !important;
}

div[role="main"] > .modal > .modal-dialog > .modal-content {
  padding-right: 0;
}

div[role="main"] > .modal .modal-content-top,
div[role="main"] > #rolegoal_content .modal-content-top,
div[role="main"] > #addnote-deliverable.modal .modal-content-top {
  width: 100% !important;
}

/* Loading modal */
div#body > section > #loading,
div#body > section > #loading > #processMessage,
/* Expired session modal */
div[role="main"] > .notenabled {
  margin-left: 0 !important;
  margin-top: 0 !important;
  left: 50% !important;
  position: fixed !important;
  top: 50% !important;
  transform: translate(-50%, -50%);
}

/* Loading modal */
div#body > section > #ecmoverlay {
  position: fixed !important;
  opacity: 0.6 !important;
}

/* Scrollbars */
div[role="main"] > .main.mCustomScrollbar > .mCustomScrollBox > .mCSB_container {
  margin-right: 0 !important;
}

div[role="main"] > .main.mCustomScrollbar > .mCustomScrollBox > .mCSB_scrollTools {
  display: none !important;
}
