/* Main Iframe */
/* Main heading (Welcome, Cognizant News and Quick TODOs) */
#div_qkToDoscontainer {
  display: none !important;
}

html > body > div#DesktopPlatformBar > div.containerHolder > div.homePageDivHolder {
  max-height: none;
  max-width: 100% !important;
}

html > body > div#DesktopPlatformBar > div.containerHolder > div.homePageDivHolder > #appFrame {
  height: calc(100vh - 47px) !important;
  max-width: 100% !important;
  width: 100% !important;
}
