.Alert {
  align-items: center;
  background-color: $cardBorder;
  border: 1px solid $cognizantBlue;
  border-radius: $cardBorderRadius;
  bottom: 12px;
  box-shadow: $cardShadow;
  display: flex;
  flex-direction: row;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' !important;
  font-size: 14px;
  font-weight: normal;
  max-width: 300px;
  padding: 12px;
  position: fixed;
  right: 12px;
  width: 100%;
  z-index: 9999;

  &,
  & * {
    box-sizing: border-box;
    cursor: default;
  }

  & * {
    font-family: inherit !important;
    font-size: inherit;
    font-weight: inherit;
  }

  &__Content {
    flex: 1;
  }

  &__Text {
    margin: 0;
    margin-bottom: 4px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__Description {
    color: $darkGrey;
  }

  &__Title {
    color: $cognizantBlue;
    font-size: 16px;
    font-weight: bold;
  }

  &__Buttons {
  }

  &__Button {
    @include button();

    & {
      align-items: center;
      cursor: pointer;
      display: flex;
      justify-content: center;
      line-height: 1;
      min-height: 32px;
      min-width: 32px;
      padding: 6px;
      text-transform: uppercase;
    }
  }
}
