& > .header_A360 {
  align-items: center;
  box-shadow: none;
  display: flex;
  flex-direction: row;
  z-index: map-get($zIndexes, 'header');

  & > div {
    align-items: center;
    display: inline-flex;
    flex-direction: row;
    float: none;
    width: auto;
  }

  .headerCommon {
    & > .viewHead {
      align-items: center;
      display: inline-flex;
      flex-direction: row;
      float: none;
      left: initial;
      position: relative !important;

      &,
      &:hover {
        margin: 12px !important;
        margin-bottom: 0 !important;
        padding: 4px 8px !important;

        & > span:nth-child(1) {
          margin-left: 0 !important;
        }
      }
    }

    & > .dropdown {
      &,
      &:hover {
        & > .dropdown-content > ul > li {
          padding: 12px 6px !important;
        }
      }

      & > .dropdown-content {
        border: 1px solid $tableContentBorderColor;
        border-radius: $dropdownBorderRadius;
        top: 100%;
        position: absolute;

        ul {
          float: none;
          margin-bottom: 0;

          & > li {
            cursor: pointer !important;
          }

          & > li > ul.submenu {
            border: 1px solid $tableContentBorderColor;
            border-radius: $dropdownBorderRadius;
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
            left: 100%;
            top: 0;
          }
        }
      }
    }
  }

  #IconHeaderTab {
    flex: 1;
    flex-direction: row-reverse;

    .settings_A360,
    .apnLink,
    .microSite,
    .searchBar_A360 {
      float: none;
      margin: 0 8px;
    }

    .settings_A360,
    .apnLink,
    .microSite {
      height: 24px;
      width: 24px;
    }

    .settings_A360 {
      background-position: -219px -42px;
    }

    .microSite {
      background-position: -160px -329px;
    }

    .searchBar_A360 {
      border-radius: $inputBorderRadius;
    }
  }
}
