& > #ajaxdownLoadingImage,
& > #ajaxLoadingImage {
  background-color: $modalBackdrop;
  opacity: 1;

  & > p {
    margin-bottom: 0;
  }

  & > p:nth-child(1) {
    top: 50%;
    transform: translateY(-100%);
  }

  & > p:nth-child(2) {
    top: 50% !important;
  }
}
