#win0divTR_PUNCH_GRID\$0 > table {
  width: 100%;

  & > tbody > tr {
    background: $tableRowBg;
    border-color: $tableContentBorderColor;

    &:first-of-type {
      background: $tableHeadingBg;
      border-color: $tableHeadingBorderColor;
      color: $white;

      & > td {
        color: inherit;
        padding: 4px 8px;
      }
    }

    & > td {
      background: none;
      border: none;
    }
  }
}
