@import '../../styles';
@import 'styles/components';

:root {
  --page-margin: 25px;
}

html,
body,
div#body,
div#body > section,
div#body > section > #ecmoverlay,
div#body > section > #loading,
div#body > section > div[role='main'],
div#body > section > .main {
  height: auto;
  min-height: 100vh;
  overflow: hidden;
  overflow-y: auto;
  width: 100%;
}

html > body > div#body {
  textarea {
    box-sizing: border-box;
    min-height: 5rem;
    padding: 6px 12px;
    resize: vertical;
    width: 100% !important;
  }
}

div#body > section > div[role='main'] {
  // Regular content
  & > .main {
    box-sizing: border-box;
    max-width: $pageMaxWidth;
    margin: 0 auto;
    min-height: 100vh;
    padding: 12px 0;

    /* My Team's promotions */
    &,
    & > .main {
      height: auto !important;
      width: 100% !important;
    }

    .info_Header {
      margin: 0 var(--page-margin) !important;
      width: calc(100% - var(--page-margin) - var(--page-margin)) !important;
    }

    /* Main header (with Main tabs an user info */
    #header {
      &.nav_cpm {
        border-top: none;
      }

      & > div.pull-right {
        margin-right: var(--page-margin) !important;
        padding-bottom: 8px;
      }
    }

    /* Blue header below main tabs, heading the main content */
    .header,
    .header#div_headerRow {
      margin: 0 var(--page-margin) !important;
      width: calc(100% - var(--page-margin) - var(--page-margin)) !important;
    }

    /* Main content */
    .section-body,
    .supervisor-content {
      margin: 0 var(--page-margin) !important;
      width: calc(100% - var(--page-margin) - var(--page-margin)) !important;
    }

    .section-body {
      &.myTeamYeaSection,
      &.myTeamYeaSectionBefore,
      &.myTeamPromo {
        width: calc(
          100% - var(--page-margin) - var(--page-margin) - 10px
        ) !important;
      }

      .supervisor-content {
        &,
        & > .tab-content {
          &,
          & > .tab-manager#yea {
            margin: 0 !important;
            width: 100% !important;
          }
        }
      }

      /* Notification's table */
      .notification_header,
      .notification_thirty {
        clear: both;
        display: inline-block;
        float: none;
      }

      .notification_thirty {
        margin-left: 8px;
        margin-right: 0 !important;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
      }

      &
        > #div_notificationList
        > .tab-content
        > .tab-pane.active
        > #div_notificationContainer {
        max-height: none !important;
      }
    }

    .section_content {
      box-sizing: border-box;
      padding: 12px;

      .section_content_view {
        width: 100%;
      }
    }

    /* Navigation Tabs */
    .nav {
      float: left;
      height: auto !important;
      margin-top: 12px;
      margin-bottom: 0 !important;
      padding: 0 !important;

      & + .row.nav-container {
        clear: both;
      }

      &.nav-pills > li {
        display: inline-block;
        height: auto !important;

        & > * {
          float: left;
          margin: 0 !important;
        }
      }
    }

    /* Generic tables */
    .tab-content {
      height: auto !important;

      .summary_yea_sup {
        align-items: center;
        display: flex;
        flex-direction: row;
        height: 64px;

        & > .section_header--caption,
        & > .section_header--weightage {
          width: auto !important;
        }

        & > .section_darkheader--img,
        & > .section_header--caption > .row > .section_null,
        & > .section_header--weightage > .collapse-icon,
        & > .section_header--weightage > .expand-icon {
          height: 100%;
          margin-top: 0 !important;
        }

        & > .section_header--caption {
          display: flex;
          flex: 1;
          flex-direction: column;

          & > .row {
            &,
            & > .section_null {
              align-items: center;
              display: flex;
              justify-content: flex-start;
            }

            &:has(.section_null) {
              flex: 1;
            }
          }
        }

        & > .section_header--weightage > .collapse-icon,
        & > .section_header--weightage > .expand-icon {
          background-position: center;
          width: 64px;
        }
      }

      & > .tab-pane .section_content,
      & > #interim_check_in.tab-pane .section_content.afterPerformanceClick {
        height: auto !important;
      }

      & > .tab-pane .section_content {
        padding: 16px !important;
        padding-bottom: 0 !important;
        margin-bottom: 0 !important;

        & > * {
          margin: 0 !important;
          margin-bottom: 16px !important;
        }

        & .notes-p {
          float: none !important;
          margin: 0 !important;
          padding: 0;

          &:not(:empty) {
            padding: 12px;
            padding-bottom: 0;
          }
        }

        & .slider {
          margin: 0 auto !important;

          &,
          & ul.slider-list--general {
            &,
            & > .mCustomScrollBox {
              height: auto !important;
              width: 100% !important;

              .mCSB_container {
                align-items: center;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                position: relative !important;
                overflow: auto !important;
              }
            }
          }

          & > .mCustomScrollBox > .mCSB_container {
            position: relative !important;
          }

          ul.slider-list--general {
            box-sizing: border-box;
            display: flex;
            flex-wrap: wrap;
            float: none;
            padding: 6px;

            & > li {
              box-sizing: border-box;
              display: inline-block;
              float: none;
              padding: 6px;
              width: 25%;
            }
          }
        }
      }
    }

    ul > li:not(.viewKeyRoleNote) > {
      @include deliverable;
    }

    .superCmtContent,
    .myTeamYeaSection .reportees > .compareReportees,
    .supervisor-content
      > .tab-content
      > #goals-supervisor
      > .second-table-container {
      height: auto !important;
    }

    .section-body > .row {
      margin-bottom: 36px;

      &:last-of-type {
        margin-bottom: 0;
      }

      &.section_metrics > .section_content {
        height: auto !important;
        padding: 6px;

        .score-tile {
          margin: 6px;
        }

        .slider {
          float: left;
          margin: 0 auto !important;
          width: 100%;

          & > .slider-list {
            width: 100%;

            & > li {
              margin: 6px;
              width: auto;

              .section_content-component:has(.circle) {
                flex-direction: column;
                margin: 0;
                padding: 12px;
                padding-bottom: 0;
                width: 100%;

                & > h3 {
                  margin: 0;
                }

                .circle {
                  margin: 24px;
                  width: auto;
                }
              }
            }
          }

          .noorg {
            padding: 6px;
          }
        }
      }

      &.section_keyrole > .section_content {
        padding: 6px;
        padding-top: 12px;

        & > .row:first-of-type {
          align-items: center;
          display: flex;
          margin-bottom: 0 !important;
          padding: 6px;
          padding-bottom: 12px;

          & > p.edit_role-p,
          & > .edit_role-metrics {
            margin: 0 !important;
            margin-right: 12px !important;
          }
        }

        & > .slider-keyrole {
          float: left;
          margin: 0;
          overflow: auto;
          width: 100%;

          & > ul.slider-list-keyrole {
            display: flex;
            float: left;
            width: auto;

            & > li {
              margin: 6px;
              width: auto;

              & > div {
                margin: 0;
                width: 100%;
              }
            }
          }
        }
      }

      &.section_deliverables > .section_content {
        & > ul {
          margin: 0;
          width: 100%;

          & > li {
            @include deliverable;
          }
        }
      }
    }

    #goals-supervisorkro {
      margin: 0;
      width: 100%;
    }

    .myTeamYeaSection
      > .reportees
      > .compareReportees
      .eachReportee
      > .assocYeaScore
      > .yeaCommonGrp
      > .commonYeaGrp {
      border: none;
      border-right: 1px solid var(--grey-medium);
      box-sizing: border-box;
      width: 33.33%;
    }

    #yea {
      margin: 12px 6px;
      margin-top: 0;

      .toggle_yeaComments
        > .section_keyrole
        > .tabSecOne.active
        > slider
        > slider-list {
        float: left;
        width: auto;
      }

      .quarter_tab_deliverable {
        box-sizing: border-box;
        margin: 0;
        width: 100%;
      }

      .assocYeaScore > .yeaCommonGrp {
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        padding: 12px 19px;
        padding-bottom: 0;
        width: 100%;

        & > .commonYeaGrp {
          box-sizing: border-box;
          height: auto;
          padding: 12px 8px;
          overflow: hidden;
          width: 33.33%;
        }
      }

      .tabContentView_deliverable {
        height: auto !important;
        overflow-y: auto !important;
      }

      .contentYeaBefore > .supervisorCmtsAssociate > .supervisorCmtsAssHead {
        align-items: center;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        padding: 12px;
      }

      .superComments {
        width: 100%;

        .tabContentView .tabSecOne_deliverable {
          box-sizing: border-box;
          margin: 0 !important;
          padding: 12px;
        }

        .supervisorquestionsAnswer > textarea {
          margin-left: 0 !important;
        }
      }
    }

    #interim_check_in,
    #pea {
      .userRequest {
        float: none;
      }

      .userdisplay {
        margin: 6px;
      }

      .feedback_position {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        margin: 0;
        overflow-y: auto;
        padding: 12px;
        width: 100%;

        .backSection {
          align-self: flex-end;
          background-position: left center !important;
          background-size: 24px !important;
          bottom: initial !important;
          box-sizing: border-box;
          float: none;
          height: auto;
          margin: 12px;
          margin-top: 0;
          padding-left: 24px !important;
          right: initial;
        }

        & > .assocDetails,
        & > .fbPending,
        & > .keyContribution,
        & > .roleOutcomes,
        & > .overallfb {
          border: none;
          float: none;
          margin: 0;
          margin-bottom: 8px;
          width: 100% !important;

          &:last-child {
            margin-bottom: 0;
          }
        }

        & > .assocDetails > .assocDetHead,
        & > .assocDetails > .assocDetContent,
        & > .fbPending > .fbHeader,
        & > .fbPending > .fbContent,
        & > .keyContribution > .keyHeader,
        & > .keyContribution > .keyContent,
        & > .roleOutcomes > .roleHeader,
        & > .roleOutcomes > .deliverable_content {
          box-sizing: border-box;
          display: flex;
          float: none;
          height: auto;
          margin: 0 !important;
          padding: 8px 12px;
          position: relative;
          width: 100% !important;
        }

        // Headers
        & > .assocDetails > .assocDetHead,
        & > .fbPending > .fbHeader,
        & > .keyContribution > .keyHeader,
        & > .roleOutcomes > .roleHeader {
          border: 1px solid $tableContentBorderColor !important;
        }

        & > .fbPending > .fbHeader {
          height: auto;
        }

        .fbHeading {
          padding: 0;
          margin: 0;
        }

        // Contents
        & > .assocDetails > .assocDetContent,
        & > .fbPending > .fbContent,
        & > .keyContribution > .keyContent,
        & > .roleOutcomes > .deliverable_content {
          border: 1px solid $tableContentBorderColor;
          padding: 6px;
        }

        & > .assocDetails > .assocDetContent {
          flex-wrap: wrap;

          & > .assocDetData {
            box-sizing: border-box;
            display: inline-block;
            float: none;
            margin: 0;
            padding: 6px;
          }
        }

        & > .fbPending > .fbContent {
          & > * {
            height: auto !important;

            &:nth-child(3),
            &:last-child {
              flex: 1;
              width: auto !important;
            }
          }

          @include reset;
        }

        & > .keyContribution > .keyContent > .keyCntPosition {
          box-sizing: border-box;
          margin: 0px;
          padding: 6px;
        }

        & > .roleOutcomes > .deliverable_content > .quarter_tab {
          border: none;
          margin: 0px;
          width: 100%;

          .nav {
            float: none;
            margin-top: 0;
          }

          .tabContentView {
            padding: 0 6px;
          }

          .tabSecOne {
            margin: 12px 0 !important;

            & > ul {
              box-sizing: border-box;
              display: block;
              margin: 0px;
              padding: 6px;
            }

            $feedbackOffset: 100px;

            .notes {
              box-sizing: border-box;
              margin: 0;
              margin-left: #{$feedbackOffset + 6px};
              padding: 6px 0 !important;

              & > .interimBtnGrp {
                margin: 0px !important;

                & > * {
                  margin: 0 6px !important;
                }
              }
            }

            .feedback {
              align-items: flex-start;
              box-sizing: border-box;
              display: flex;
              flex-direction: row;
              justify-content: flex-start;
              padding: 12px;
              padding-top: 0;
              width: 100%;

              & > label {
                box-sizing: border-box;
                float: none;
                margin: 0;
                width: $feedbackOffset !important;
              }

              & > textarea {
                background: $inputBackground;
                border-radius: 0px;
                color: $inputColor;
                flex: 1;
                margin: 0;
                width: 100% !important;
              }
            }

            .rating {
              align-items: center;
              display: flex;
              justify-content: center;
              margin-top: 0 !important;

              & > .star-holder {
                margin: 6px 0;
              }
            }
          }
        }
      }
    }

    #requests_recieved {
      .section_content-component {
        flex-direction: column;
      }
    }

    // @include deliverable;
  }

  // Modals
  .modal {
    &.fade.in {
      &,
      &#rolegoal_content,
      &#addnote-deliverable {
        height: auto !important;
        left: 50% !important;
        margin: 0 !important;
        max-height: 90vh !important;
        max-width: $pageMaxWidth !important;
        overflow: hidden;
        overflow-y: auto;
        top: 50% !important;
        transform: translate(-50%, -50%);
        width: 90vw !important;

        .nonote {
          margin: var(--page-margin) auto;
        }
      }
    }

    & > .modal-dialog > .modal-content {
      padding: 0;
    }

    .modal-content-top,
    &#rolegoal_content .modal-content-top,
    &#addnote-deliverable .modal-content-top {
      width: 100% !important;
    }

    h3.modal-heading {
      box-sizing: border-box;
    }

    .modal-content {
      height: auto !important;
      max-height: none !important;
    }

    &#addnote-deliverable .notes-container .notes {
      padding-left: 0 !important;
    }

    .notes-container {
      box-sizing: border-box;
      margin: 0;
      padding: 0 var(--page-margin);

      .notes {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;

        &.media {
          flex-direction: row;
        }

        & > .media-body {
          &,
          & > .mediaHolder {
            flex: 1;
            width: 100%;
          }

          & > .mediaHolder {
            & > .DisplayText {
              right: 0 !important;
              top: 0 !important;
            }

            & > .mediahead_Comments {
              box-sizing: border-box;
              display: flex;
              flex-direction: row;
              padding: 0 !important;
              padding-left: var(--page-margin) !important;

              &,
              & > .mediaComFirst {
                width: 100%;
              }

              & > .media-object {
                margin-right: var(--page-margin);
                margin-top: var(--page-margin);
              }

              & > .mediaComFirst {
                margin: 0 !important;
                padding-top: 8px;

                & > .mediaCont,
                & > .dispAlign,
                & > .amexcruzBtn,
                & > .requestedName,
                & > .iconDefn {
                  height: auto !important;
                  width: auto !important;
                }

                & > .mediaCont,
                & > .requestedName,
                & > .iconDefn {
                  position: relative !important;
                }

                & > .dispAlign,
                & > .amexcruzBtn {
                  z-index: map-get($zIndexes, 'sidebar');
                }

                & > .mediaCont > #dispName {
                  position: relative !important;
                  margin: 0 !important;
                  right: initial !important;
                  top: initial !important;
                  width: auto !important;
                }

                & > .dispAlign {
                  &,
                  & > p {
                    height: auto !important;
                    right: 0 !important;
                    top: var(--page-margin) !important;
                    width: auto !important;
                  }
                }

                & > .amexcruzBtn {
                  display: flex;
                  padding: 8px 12px;
                  right: 0 !important;
                  top: calc(var(--page-margin) * 2) !important;

                  & > p {
                    margin: 0;
                    overflow: auto !important;
                    text-overflow: initial !important;
                    white-space: initial !important;
                    width: auto !important;
                  }
                }

                & > .requestedName {
                  margin: 0 !important;
                  padding: 8px 12px;

                  & > .reqName,
                  & > .reqCont {
                    display: block;
                    margin: 0 !important;
                    margin-bottom: 8px !important;
                    width: auto !important;

                    &:last-child {
                      margin-bottom: 0 !important;
                    }
                  }
                }

                & > .iconDefn {
                  margin-top: -6px;

                  & > p {
                    margin: 0;
                    margin-bottom: 8px;
                    width: auto;
                    word-break: initial;

                    &:last-of-type {
                      margin-bottom: 0;
                    }
                  }
                }

                & > .requestedName,
                & > .iconDefn {
                  margin-right: 300px !important;
                }
              }
            }
          }
        }
      }
    }

    &#addnote-deliverable .rating,
    &#rolegoal_content .rating,
    .button_container {
      position: relative !important;
      bottom: initial !important;
      width: 100% !important;
    }

    .button_container {
      width: 100%;
    }
  }

  /* Scrollbars */
  .mCustomScrollbar {
    height: auto !important;
    max-height: none !important;
    overflow: auto !important;
    width: 100%;

    & > .mCustomScrollBox {
      overflow: hidden !important;
      overflow-y: auto !important;
      width: 100%;

      & > .mCSB_container {
        margin-right: 0 !important;
        overflow: hidden !important;
        overflow-y: auto !important;
        position: relative !important;
        width: 100%;
      }

      & > .mCSB_scrollTools {
        display: none !important;
      }
    }

    .mCSB_outside + .mCSB_scrollTools {
      background-color: white;
      right: 0;
    }
  }
}

/* Loading modal */
div#body > section > #loading,
div#body > section > #loading > #processMessage,
/* Expired session modal */
div.notenabled {
  margin-left: 0 !important;
  margin-top: 0 !important;
  left: 50% !important;
  position: fixed !important;
  top: 50% !important;
  transform: translate(-50%, -50%);
}

/* Loading modal */
div#body > section > #ecmoverlay {
  position: fixed !important;
  opacity: $backdropOpacity !important;
}
