$pageMaxWidth: 1280px;

$cognizantBlue: #2e308e;

$white: #fff;
$falseWhite: #f2f2f2;
$lightGrey: #ebedf5;
$grey: #dcdcdc;

$lightBlue: #e6eff6;
$midBlue: #82c7de;
$accentBlueLight: #6aa2dc;
$accentBlue: #2f78c4;
$accentBlueDark: $cognizantBlue;
$darkBlue: #000048;

$teal: #248d95;

$danger: #b81f2d;
$warning: #e9c71d;
$success: #2db81f;

$backdropOpacity: 0.7;

$borderRadius: 6px;
$dropdownBorderRadius: $borderRadius;

$zIndexes: (
  'background': 0,
  'content': 1,
  'sidebar': 2,
  'header': 3,
  'modal': 4,
  'notification': 5,
  'tutorial': 6
);

$buttonBg: $lightBlue;
$buttonBgHover: $lightGrey;
$buttonBorder: $lightBlue;
$buttonBorderHover: $lightGrey;
$buttonColor: $darkBlue;
$buttonBorderRadius: 100px;

$buttonPrimaryBg: $teal;
$buttonPrimaryBgHover: $midBlue;
$buttonPrimaryBorder: $teal;
$buttonPrimaryBorderHover: $midBlue;
$buttonPrimaryColor: $white;

$cardBg: $white;
$cardBorder: $lightGrey;
$cardBorderRadius: $borderRadius;
$cardHeadingBg: $lightGrey;
$cardShadow: 0px 0px 3px $grey;

$footerBg: $cognizantBlue;
$footerColor: $white;

$inputBackground: $falseWhite;
$inputBorderRadius: $borderRadius;
$inputColor: $darkBlue;

$modalBackdrop: rgba(0, 0, 0, $backdropOpacity);
$modalBg: $white;
$modalBorderRadius: $borderRadius;
$modalHeight: auto;
$modalLeft: 50%;
$modalMargin: 0;
$modalMaxHeight: 100vh;
$modalMaxWidth: calc($pageMaxWidth) !important;
$modalTop: 50%;
$modalTransform: translate(-50%, -50%);
$modalWidth: 100%;

$modalHeaderBg: $cognizantBlue;
$modalHeaderHeight: 60px;

$navbarBg: $cognizantBlue;

$tableHeadingBg: $cognizantBlue;
$tableHeadingBorderColor: $cognizantBlue;
$tableHeadingBorderColorWarning: $danger;
$tableHeadingBorderColorSuccess: $success;
$tableContentBorderColor: $grey;
$tableRowBg: $lightGrey;
$tableRowEvenBg: $lightBlue;
