@import '../../constants/constants';
@import '../../constants/mixins';

html,
body,
div#body,
div#body > section,
div#body > section > #ecmoverlay,
div#body > section > #loading,
div#body > section > div[role='main'],
div#body > section > .main {
  height: auto;
  min-height: 100vh;
  overflow: hidden;
  overflow-y: auto;
  width: 100%;
}

// Main Header
app-live-search > .main > .header {
  display: flex;
  max-width: $pageMaxWidth !important;

  & > .hamburger-menu,
  & > .logo,
  & > .icons {
    float: none !important;
  }

  & > .icons {
    margin-left: auto;

    & > .recommandation,
    & > .tour,
    & > .social {
      display: none !important;
    }

    & > .preferences.PreferenceBlinkAccess {
      animation: none;
    }
  }
}

// Breadcrumbs
nav-menu > .nav-menu-wrap {
  float: none !important;

  & > .navContainer {
    display: flex;
    float: none !important;
    height: 100%;
    max-width: $pageMaxWidth !important;
    width: 100%;

    & > .breadcrum,
    & > .mobileSearchBtn,
    & > .desktopsearchBtn {
      float: none !important;
      width: auto;
    }

    & > .breadcrum {
      display: flex;
      flex: 1;

      & > .home-icon {
        margin-left: 0;
      }
    }

    & > .mobileSearchBtn,
    & > .desktopsearchBtn {
      padding-right: 10px;
    }

    & > .mobileSearchBtn {
      & > .searchIcon {
        background-position: center center;
        float: none;
        margin-right: 0;
      }
    }

    & > .desktopsearchBtn {
      & > .mls_search_btn_name {
        display: flex;
        padding: 0 24px;
        min-width: fit-content;
        width: auto;
      }
    }

    & > .searchOverlay {
      background: $modalBackdrop;
      float: none;
      height: calc(100vh - 50px);
      position: fixed;
      top: 50px;
      z-index: map-get($zIndexes, 'modal');

      & > .searchForm {
        float: none;
        position: relative;

        & > .curtainEffect {
          display: none !important;
        }

        & > .searchWrapper {
          align-items: center;
          display: flex;
          height: 48px;
          justify-content: center;
          left: 0;
          max-width: $pageMaxWidth;
          right: initial;
          top: 0;

          @media screen and (min-width: 1024px) {
            left: 50%;
            transform: translateX(-50%);
          }

          & > .segmentWrapper {
            height: 100%;
            width: 25%;

            & > .segmentedSearch {
              float: none;
              height: 100%;
              width: 100%;
            }
          }

          & > .searchBox {
            display: flex;
            flex: 1;
            height: 100%;

            & > .inputContainer,
            & > .SearchBtnImg {
              height: 100%;
            }

            & > .inputContainer {
              display: flex;
              flex: 1;
              width: auto;

              & > .searchTxtBox,
              & > .clearSearch {
                float: none;
                height: 100%;
                width: auto;
              }

              & > .searchTxtBox {
                flex: 1;
              }

              span.clearSearch:empty {
                display: none;
              }
            }
          }

          .suggestiondropdownDesktop,
          .suggestiondropdownMobile {
            @include scrollbars;

            & {
              left: 0;
              position: absolute;
              top: 100%;
              width: 100%;
            }

            & > .showww {
              float: none;
              max-height: calc(100vh - 50px - 48px) !important;
              margin: 0 !important;
              top: 0;
              width: 100% !important;

              &,
              & .mCSB_container {
                max-height: calc(100vh - 50px - 48px) !important;
              }

              .listedsearch {
                &:has(> div) {
                  padding: 8px 0;
                }

                &,
                & > .searchCat {
                  float: none;
                }

                & > .searchCat {
                  & > ul {
                    padding: 0 !important;
                  }
                }

                & > .popularCat1 {
                  padding: 0;

                  & > div {
                    float: none;
                    margin: 0 !important;
                    width: 100%;

                    & > .recentSearchtitle {
                      align-items: center;
                      padding: 8px;

                      & > h2 {
                        margin: 0;
                        padding: 0 !important;
                      }

                      & > .clearText {
                        float: none;
                        width: auto !important;
                      }
                    }
                  }

                  & > .popularSearchTtle > ul {
                    padding-right: 0 !important;
                    margin-bottom: 0;
                  }
                }

                .categoryTitle,
                .catTopics {
                  float: none;
                  height: auto;
                  margin: 0;
                }

                .categoryTitle {
                  padding: 16px;
                  padding-bottom: 8px;
                }

                .catTopics {
                  padding: 8px 0 !important;

                  &,
                  & > li,
                  & > span {
                    align-items: center;
                    display: flex;
                    height: auto;
                  }

                  & > span {
                    height: auto;
                  }

                  .exactMatchIcon,
                  .predictiveCategoryIcon,
                  .recentSearchIcon,
                  .catsTitle {
                    float: none;
                  }

                  .predictiveCategoryIcon,
                  .recentSearchIcon,
                  .exactMatchIcon {
                    margin: 0 12px;
                    top: 0;
                  }

                  .catsTitle {
                    align-items: center;
                    flex: 1;
                    max-width: 100%;
                    padding: 0;
                    padding-right: 12px;
                    width: auto !important;

                    & > div {
                      max-width: 100%;
                      @include ellipsis;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.header-wrapper {
  & > header > div > .row > .common-menu-container {
    margin-bottom: 0;
  }
}

.header-wrapper + .container-width {
  margin: 0 auto;
  max-width: $pageMaxWidth;
  padding: 12px 24px;
  width: 100%;

  @media (min-width: 1200px) {
    width: 100%;
  }
}

.routerContainer {
  @include scrollbars;

  &,
  & > #routerWrapper {
    max-width: none !important;
  }

  & > #routerWrapper {
    & > .mCustomScrollBox,
    & > preferences-view > .preferences-container {
      max-width: $pageMaxWidth;
      margin: 0 auto;
    }

    .dashboard-container {
      @media only screen and (max-width: 1328px) {
        padding: 0 24px;
      }

      learningdashboard > div {
        margin-top: 24px;
        margin-bottom: 0;

        & > .learning-container {
          float: none;
          max-width: 100%;

          & > div {
            float: left;
            margin: 12px;
            max-width: calc(100% - 24px);
            width: 100%;

            @media screen and (min-width: 700px) {
              max-width: calc(50% - 24px);
            }

            & > .learning-wrapper {
              margin-bottom: 0;

              & > .d-flex {
                flex-direction: column;
              }
            }
          }
        }
      }

      // Spam modules
      app-quick-links,
      .career_wrap,
      .activity_wrap {
        display: none !important;
      }
    }

    // Spam popups
    #feedbackPopupClose,
    #feedback2,
    #sliderPopupClose,
    #livePopup {
      display: none !important;
    }
  }

  // Modals
  .modal,
  &
    > #routerWrapper
    .dashboard-container
    learningdashboard
    > .outer-container
    #connectModal.modal {
    @include modal;
    @include scrollbars;
  }
}

@include modal-backdrop;
