@mixin black-icon {
  filter: brightness(0) saturate(0);
}

@mixin white-icon {
  filter: brightness(10) saturate(0);
}

@mixin ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin button($type: '') {
  background: initial !important;
  border-radius: $buttonBorderRadius;
  border-width: 1px !important;
  border-style: solid !important;
  cursor: pointer !important;
  text-align: center;
  transition: background-color 0.2s, border-color 0.2s;

  @if $type == 'primary' {
    background-color: $buttonPrimaryBg !important;
    border-color: $buttonPrimaryBorder !important;
    color: $buttonPrimaryColor !important;

    &:hover {
      background-color: $buttonPrimaryBgHover !important;
      border-color: $buttonPrimaryBorderHover !important;
    }
  } @else if $type == 'disabled' {
    background-color: $buttonDisabledBg !important;
    border-color: $buttonDisabledBorder !important;
    color: $buttonDisabledColor !important;
    cursor: not-allowed !important;
  } @else {
    background-color: $buttonBg !important;
    border-color: $buttonBorder !important;
    color: $buttonColor !important;

    &:hover {
      background-color: $buttonBgHover !important;
      border-color: $buttonBorderHover !important;
    }
  }
}

@mixin scrollbars {
  .mCustomScrollbar {
    height: auto !important;
    max-height: none !important;
    // margin: 20px !important;
    // width: calc(100% - 40px) !important;
    width: 100% !important;

    & > .mCustomScrollBox {
      max-height: none !important;
    }

    & > .mCustomScrollBox > .mCSB_container,
    & > .mCSB_container {
      margin-right: 0 !important;
      overflow-y: auto;
      top: 0 !important;
    }

    & > .mCustomScrollBox > .mCSB_scrollTools,
    & > .mCSB_scrollTools {
      display: none !important;
    }
  }
}

@mixin card {
  background-color: $cardBg;
  border: 1px solid $cardBorder;
  border-radius: $cardBorderRadius;
  box-shadow: $cardShadow;
  height: auto;
}

@mixin card-spaced {
  @include card;
  padding: 20px;
}

@mixin modal-backdrop {
  .modal-backdrop {
    background-color: $modalBackdrop !important;

    &.show {
      opacity: 1 !important;
    }
  }
}

@mixin modal-content {
  background-color: transparent;
  border-radius: $modalBorderRadius;

  height: auto;
  margin: 0 auto;
  max-height: 100%;
  overflow: hidden;
  width: auto;
}

@mixin modal-header {
  align-items: center;
  background-color: $modalHeaderBg;
  border-radius: 0;
  min-height: $modalHeaderHeight;

  .close {
    line-height: 1rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    display: inline-block;
    margin: 0 !important;
    margin-right: 12px !important;
    vertical-align: middle;
    width: auto;
  }
}

@mixin modal-body {
  background-color: $modalBg;
  height: auto;
  max-height: calc($modalMaxHeight - $modalHeaderHeight - 40px);
  overflow: hidden;
  overflow-y: auto;
  padding: 20px;
  width: 100%;
}

@mixin modal {
  margin: 0 !important;
  padding: 0 !important;

  .modal-dialog {
    height: $modalHeight !important;
    left: $modalLeft !important;
    margin: $modalMargin !important;
    max-height: $modalMaxHeight !important;
    max-width: $modalMaxWidth;
    overflow: hidden;
    padding: 20px;
    position: fixed;
    top: $modalTop !important;
    transform: $modalTransform !important;
    width: $modalWidth;

    & > .modal-content {
      @include modal-content;

      .modal-header {
        @include modal-header;
      }

      & > .modal-body {
        @include modal-body;
      }
    }
  }
}
