@import '../../styles';

html > body {
  background: $white;

  a {
    color: $teal !important;
  }

  & > div {
    & > .wrapper {
      height: auto;
      max-width: $pageMaxWidth;
      overflow-y: auto;
      width: auto;

      @import './components/header';
      @import './components/associateProfile';
      @import './components/certify';

      & > .cardsParent {
        height: auto !important;
        z-index: map-get($zIndexes, 'content');

        .cardsContainer_A360 {
          padding: 0;

          .cards_A360 {
            border-color: $cardBorder;
            border-radius: $cardBorderRadius;
            transition: box-shadow 0.2s;

            .headDiv {
              background-color: $cardHeadingBg;
            }
          }
        }
      }

      & > .viewTabsContainer,
      & > .careerTabsContainer {
        & > .tabsContainer > .contentTabs {
          height: auto;

          & > .contentDefaultTabs {
            margin: 0 auto !important;
            padding: 20px 0;
            width: 100% !important;

            .contentCommonTabs {
              border-color: $cardBorder;
              border-radius: $cardBorderRadius;
              min-height: 0;
              overflow: hidden;
              width: 100%;

              &:empty {
                display: none;
              }

              & > .contentCommonHeader {
                align-items: center;
                background-color: $cardHeadingBg;
                color: $darkBlue;
                cursor: pointer;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                margin: 0;
                padding: 12px 24px;
                width: 100%;

                & > span {
                  color: inherit !important;
                  margin-right: 12px;
                }

                & > span:nth-child(1) {
                  font-weight: bold;
                }

                & > .accordIcon,
                & > .addIcn,
                & > .editIcn,
                & > .deleteIcn,
                & > .legend {
                  position: relative !important;
                  right: initial !important;
                  top: initial !important;
                }

                & > .accordIcon,
                & > .addIcn,
                & > .editIcn,
                & > .deleteIcn {
                  @include black-icon;
                }

                & > [data-toggle='modal']:first-of-type {
                  margin-left: auto;
                }

                & > .legend {
                  align-items: center;
                  display: inline-flex;
                  margin-left: 12px;

                  & > .box,
                  & > .legendTxt {
                    float: none;
                  }

                  & > .box {
                    display: inline-block;
                    margin-right: 12px;
                    top: 0;
                  }

                  & > .legendTxt {
                    left: 0 !important;
                  }
                }
              }

              & > .contentDiv {
                min-height: 0 !important;

                &:empty {
                  padding: 0;
                }
              }

              .accordHeader {
                & > span {
                  color: $darkBlue;
                  margin-right: 12px;
                }
              }

              .accordContainer {
                padding: 0;
              }
            }
          }

          #passportprofiletab > .contentCommonTabs > .contentCommonHeader {
            justify-content: initial;
          }
        }
      }

      & > .modal {
        @include modal;
      }

      @include scrollbars;
    }

    @import './components/modals';
  }

  @include modal-backdrop;
}
