@import '../mixins/chatbox';

& > .chatbox-wrapper {
  @include flex;
  padding: 0 12px !important;

  @media screen and (min-width: $desktopXl) {
    padding: 0 !important;
  }

  .showBookmarks-icon-container {
    align-items: flex-start;
    display: flex;
    justify-content: flex-start;
    margin: 0 !important;

    & > span {
      &,
      & > .showBookmarks-icon {
        display: inline-block;
        line-height: 0;
        vertical-align: top;
      }

      & > .showBookmarks-icon {
        float: none;
        margin-top: 0 !important;
      }
    }
  }

  .chat-heading > .agent-details > .back_Btn {
    @include button();
  }

  & > .rsiBlock {
    margin: 0;
    margin-bottom: 12px;

    &,
    & > .rsiBlock {
      padding: 0;
      position: relative;
      top: 0 !important;
    }
  }

  & > .chat-first-header {
    margin-top: 0 !important;
    position: relative;
  }

  & > .chat-heading {
    align-items: center;
    display: flex !important;
    height: auto !important;
    justify-content: space-between;
    margin: 12px 0 !important;
    padding: 0;

    & > .agent-details,
    & > .button-holder {
      float: none;
      padding: 0 !important;
      width: auto;
    }

    & > .agent-details > .back_Btn {
      float: none;
      margin-top: 0;
    }
  }

  & > .row {
    flex: 1;
    overflow: hidden;
    overflow-y: auto;

    &:has(.nodisplay) {
      display: none;
    }

    & > .titles-wrapper {
      flex-direction: column;
      float: none;
      margin: 0 !important;
      padding: 0 !important;
      position: relative !important;
      top: 0;

      & > .titles-row {
        flex-direction: column !important;
        width: 100%;

        @media screen and (min-width: $tablet) {
          flex-direction: row !important;
        }

        & > .tiles-heading {
          flex: 1 !important;
        }
      }
    }
  }

  & > .chatbox-widget {
    @include flex;
    justify-content: flex-end;
    margin: 0;

    & > .chatbox-widget-bar {
      margin: 12px 0;
      max-width: 100%;
      min-width: 100% !important;
      order: 2;

      & > .input-area-initial {
        height: auto;

        & > .row > .chatbox-widget-bottom {
          $gap: 12px;

          flex-direction: column;
          flex-wrap: nowrap;
          gap: $gap;
          margin-top: 0 !important;
          top: 0 !important;
          position: relative;

          @media screen and (min-width: $tabletM) {
            flex-direction: row;
          }

          & > .suggestQueryBtn,
          & > .input-area-wrapper > textarea {
            margin-top: 0;
          }

          & > .suggestQueryBtn {
            @include button(true);
          }

          & > .input-area-wrapper {
            align-items: center;
            display: flex;
            flex: 1;
            flex-direction: row;
            gap: 12px;
            padding-left: 0;
            position: relative;
            width: auto;

            & > textarea {
              flex: 1;
              width: auto;
            }

            & > .convSearch {
              background-position: center;
              bottom: initial;
              margin-left: 0;
              margin-top: 0 !important;
              padding: 0;
              position: relative;
              top: initial;
              right: initial;
            }
          }

          & > .AppnameButton {
            bottom: 6px;
            top: initial !important;

            @media screen and (max-width: $tabletMax) {
              left: 0;
              margin-left: 6px;
            }
          }

          & > .AppNameButtonContainer {
            bottom: 0;
            left: 0 !important;
            padding: 0;
            top: initial !important;
            z-index: 999;

            & > .AppNameButtonMobile {
              align-items: center;
              display: inline-flex;

              & > img {
                margin-bottom: 0;
              }
            }
          }

          $buttonWidth: 16.66667%;
          & > .wrapper-botFaqOl {
            @include scrollbars;

            & {
              border-radius: $borderRadius;
              bottom: calc(100% + 12px);
              height: auto;
              left: 0;
              margin-left: 0 !important;
              overflow: hidden;
              overflow-y: auto;
              padding: 0;
              position: absolute;
              right: initial;
              width: 100%;
              z-index: map-get($zIndexes, 'modal');

              @media screen and (min-width: $tabletM) {
                left: calc($buttonWidth + $gap);
                width: calc(100% - $buttonWidth - $gap);
              }
            }

            &:not(:has(> .nodisplay)) {
              border: 1px solid $teal;
            }

            & > .acs_bar {
              border: none;
              position: relative;
              top: 0 !important;
              width: 100% !important;

              & span {
                background-color: $teal;
                color: $white;
                border-radius: 0;
              }
            }

            & > .botFaqOl {
              border: none;
              max-height: $maxHeight !important;
              min-height: 0 !important;
            }

            & > .mCustomScrollbar {
              top: initial !important;
              margin-bottom: 0;

              .mCSB_container {
                margin-right: 0 !important;
              }
            }
          }

          & > .wrapper-autoComplete {
            & {
              border-radius: $borderRadius;
              bottom: calc(100% + 12px);
              height: auto;
              left: 0;
              margin-left: 0 !important;
              overflow: hidden;
              overflow-y: auto;
              padding: 0;
              position: absolute;
              right: initial;
              width: 100%;

              @media screen and (min-width: $tabletM) {
                left: calc($buttonWidth + $gap);
                width: calc(100% - $buttonWidth - $gap);
              }
            }

            &:not(:has(> .nodisplay)) {
              border: 1px solid $teal;
            }

            & > .autoCompleteWrapper {
              @include scrollbars;

              & {
                bottom: initial;
                display: flex;
                flex-direction: column;
                height: auto;
              }

              & > .appListAtAutoComplete {
                border: none;
                height: auto !important;
                max-height: none !important;
                min-height: auto !important;
                overflow: hidden;
                order: 2;
                top: 0;

                .faq_autocomplete_class {
                  display: block !important;
                  left: 0 !important;
                  max-height: $maxHeight !important;
                  min-height: 0 !important;
                  position: relative !important;
                  top: 0 !important;
                }
              }

              & > .noRelevantWrapper,
              & > .acs_bar {
                background-color: $teal;
                border: none;
                border-radius: 0;
                color: $white;
              }

              & > .noRelevantWrapper {
                align-items: center;
                display: flex;
                height: auto;
                justify-content: space-between;
                order: 3;
                padding: 4px 8px !important;
                position: relative;
                top: 0;

                & > .noRelevSelectMsg {
                  color: inherit;
                  flex: 1;

                  & > p {
                    margin-bottom: 0;
                  }
                }

                & > .notRelevantText {
                  position: relative;
                  top: 0;
                  right: 0;
                }
              }

              & > .acs_bar {
                order: 1;
                position: relative;
                top: 0;

                & span {
                  background-color: $teal;
                  color: $white;
                  border-radius: 0;
                }
              }
            }
          }
        }
      }
    }

    .tiles-wrapper-mobile {
      overflow: hidden;
      overflow-y: auto;
      position: relative !important;
      top: 0 !important;
    }

    & > .chatbox-widget-container {
      @include chatbox;
    }
  }

  & > .row:not(:has(.nodisplay)) + .chatbox-widget {
    flex: 0 !important;
  }
}
