@import '../mixins/ticketsList';
@import '../mixins/ticketsTable';

& > .chat_history_list,
& > .Gsd_status_container {
  flex: 1;
  margin: 12px auto;
  padding: 0 12px !important;

  @media screen and (min-width: $tablet) {
    margin: 24px auto;
    padding: 0 24px !important;
  }

  @media screen and (min-width: $desktopXl) {
    padding: 0px !important;
  }
}

& > .chat_history_list {
  &
    > .bootstrap-table
    > .fixed-table-container
    > .fixed-table-body
    table.table {
    @include tickets-table;
  }

  & > #chat_history_list_mobile {
    @include tickets-list;
  }

  & > .lazy_loader_chat_history {
    display: none !important;
  }
}

& > .Gsd_status_container {
  & > table#Gsd_status_list {
    @include tickets-table;
  }

  & > #gsd_dynamic_list_mobile {
    @include tickets-list;
  }
}
