@import '../mixins/ticketsTable';

& > .chat_history_list,
& > .Gsd_status_container {
  margin: 12px auto;
  padding: 0 12px !important;

  @media screen and (min-width: $tablet) {
    margin: 24px auto;
    padding: 0 24px !important;
  }

  @media screen and (min-width: $desktopXl) {
    padding: 0px;
  }
}

& > .chat_history_list {
  &
    > .bootstrap-table
    > .fixed-table-container
    > .fixed-table-body
    table.table {
    @include tickets-table;
  }
}

& > .Gsd_status_container {
  & > table#Gsd_status_list {
    @include tickets-table;
  }
}
