@import '../../constants/constants';
@import '../../constants/mixins';

html > body {
  background: $white;

  a {
    color: $teal !important;
  }

  & > div {
    & > .wrapper {
      height: auto;
      max-width: $pageMaxWidth;
      overflow-y: auto;
      width: auto;

      & > .header_A360 {
        align-items: center;
        box-shadow: none;
        display: flex;
        flex-direction: row;
        z-index: map-get($zIndexes, 'header');

        & > div {
          align-items: center;
          display: inline-flex;
          flex-direction: row;
          float: none;
          width: auto;
        }

        .headerCommon {
          & > .viewHead {
            align-items: center;
            display: inline-flex;
            flex-direction: row;
            float: none;
            left: initial;
            position: relative !important;

            &,
            &:hover {
              margin: 12px !important;
              margin-bottom: 0 !important;
              padding: 4px 8px !important;

              & > span:nth-child(1) {
                margin-left: 0 !important;
              }
            }
          }

          & > .dropdown {
            &,
            &:hover {
              & > .dropdown-content > ul > li {
                padding: 12px 6px !important;
              }
            }

            & > .dropdown-content {
              border: 1px solid $tableContentBorderColor;
              border-radius: $dropdownBorderRadius;
              top: 100%;
              position: absolute;

              ul {
                float: none;
                margin-bottom: 0;

                & > li {
                  cursor: pointer !important;
                }

                & > li > ul.submenu {
                  border: 1px solid $tableContentBorderColor;
                  border-radius: $dropdownBorderRadius;
                  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
                  left: 100%;
                  top: 0;
                }
              }
            }
          }
        }

        #IconHeaderTab {
          flex: 1;
          flex-direction: row-reverse;

          .settings_A360,
          .apnLink,
          .microSite,
          .searchBar_A360 {
            float: none;
            margin: 0 8px;
          }

          .settings_A360,
          .apnLink,
          .microSite {
            height: 24px;
            width: 24px;
          }

          .settings_A360 {
            background-position: -219px -42px;
          }

          .microSite {
            background-position: -160px -329px;
          }

          .searchBar_A360 {
            border-radius: $inputBorderRadius;
          }
        }
      }

      & > .associateProfile_A360 {
        position: relative;
        width: 100%;
        z-index: map-get($zIndexes, 'content');

        & > .associateDetails_A360 {
          & > .assocImageContain {
            border-bottom-left-radius: $cardBorderRadius;
            border-top-left-radius: $cardBorderRadius;
          }

          & > .assocDataContain {
            border-bottom-right-radius: $cardBorderRadius;
            border-top-right-radius: $cardBorderRadius;
          }
        }
      }

      & > .cardsParent {
        height: auto !important;
        z-index: map-get($zIndexes, 'content');

        .cardsContainer_A360 {
          padding: 0;

          .cards_A360 {
            border-color: $cardBorder;
            border-radius: $cardBorderRadius;
            transition: box-shadow 0.2s;

            .headDiv {
              background-color: $cardHeadingBg;
            }
          }
        }
      }

      & > .viewTabsContainer,
      & > .careerTabsContainer {
        & > .tabsContainer > .contentTabs {
          height: auto;

          & > .contentDefaultTabs {
            margin: 0 auto !important;
            padding: 20px 0;
            width: 100% !important;

            .contentCommonTabs {
              border-color: $cardBorder;
              border-radius: $cardBorderRadius;
              min-height: 0;
              overflow: hidden;
              width: 100%;

              &:empty {
                display: none;
              }

              & > .contentCommonHeader {
                align-items: center;
                background-color: $cardHeadingBg;
                color: $darkBlue;
                cursor: pointer;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                margin: 0;
                padding: 12px 24px;
                width: 100%;

                & > span {
                  color: inherit !important;
                  margin-right: 12px;
                }

                & > span:nth-child(1) {
                  font-weight: bold;
                }

                & > .accordIcon,
                & > .addIcn,
                & > .editIcn,
                & > .deleteIcn,
                & > .legend {
                  position: relative !important;
                  right: initial !important;
                  top: initial !important;
                }

                & > .accordIcon,
                & > .addIcn,
                & > .editIcn,
                & > .deleteIcn {
                  @include black-icon;
                }

                & > [data-toggle='modal']:first-of-type {
                  margin-left: auto;
                }

                & > .legend {
                  align-items: center;
                  display: inline-flex;
                  margin-left: 12px;

                  & > .box,
                  & > .legendTxt {
                    float: none;
                  }

                  & > .box {
                    display: inline-block;
                    margin-right: 12px;
                    top: 0;
                  }

                  & > .legendTxt {
                    left: 0 !important;
                  }
                }
              }

              & > .contentDiv {
                min-height: 0 !important;

                &:empty {
                  padding: 0;
                }
              }

              .accordHeader {
                & > span {
                  color: $darkBlue;
                  margin-right: 12px;
                }
              }

              .accordContainer {
                padding: 0;
              }
            }
          }

          #passportprofiletab > .contentCommonTabs > .contentCommonHeader {
            justify-content: initial;
          }
        }
      }

      & > .modal {
        @include modal;
      }

      @include scrollbars;
    }

    & > #ajaxdownLoadingImage,
    & > #ajaxLoadingImage {
      background-color: $modalBackdrop;
      opacity: 1;

      & > p {
        margin-bottom: 0;
      }

      & > p:nth-child(1) {
        top: 50%;
        transform: translateY(-100%);
      }

      & > p:nth-child(2) {
        top: 50% !important;
      }
    }
  }

  @include modal-backdrop;
}
