@import '../../styles/constants';

$windowMargin: 8 * 2;
$windowTitle: 33;
$windowContent: 144;

html,
body {
  display: flex;
  justify-content: center;
  width: 280px;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
}

.Window {
  border: 1px solid $darkBlue;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  margin: 8px;
  overflow: hidden;
  width: 100%;

  &__Header {
    align-items: center;
    background-color: $darkBlue;
    color: $white;
    cursor: default;
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding: 8px;
    font-size: 0.9rem;
  }

  &__Title,
  &__Version {
    display: inline-block;
  }

  &__Title {
    flex: 1;
    font-size: 1rem;
    font-weight: bold;
  }

  &__Version {
    font-size: 0.8rem;
  }

  &__Content {
    background-color: $falseWhite;
    flex: 1;
    overflow: hidden;
    overflow-y: auto;
  }
}

.List {
  color: $darkBlue;
  font-weight: bold;
  margin: 0 auto;

  &__Item {
    background: transparent;
    transition: all 0.2s;
  }

  &__Item:hover {
    background: $white;
  }
}

.Item {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 8px;
  padding: 8px;

  &__Icon {
    height: 2rem;
    width: 2rem;
  }

  &__Description {
    flex: 1;
  }
}
